.section {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	margin-top: 1em;
	background: rgb(250, 250, 250);
	padding: 1em;
	max-width: 950px;
	margin: 0 auto;
	box-sizing: border-box;
}

.input-container {
	width: 50%;
}

.input {
	height: 2.5rem;
	/* width: 100%; */
	border: 1px solid rgb(218, 218, 218);
	border-right: none;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	box-sizing: border-box;
	padding: 1em;
	font-size: 1rem;
}

.submit {
	height: 2.5rem;
	border: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left: none;
	background: #24c8b0;
	color: white;
	padding: 0 1em;
	font-size: 1rem;
}

.submit:hover {
	background: #00bb9f;
}

.button-container {
	display: flex;
	gap: 1em;
}

.save,
.clear {
	height: 2.5rem;
	border: none;
	border-radius: 5px;
	border-left: none;
	color: white;
	padding: 0 1em;
	font-size: 1rem;
}

.save {
	background: rgb(92, 125, 223);
}

.save:hover {
	background: rgb(56, 100, 230);
}

.clear {
	background: rgb(246, 112, 112);
}

.clear:hover {
	background: rgb(246, 69, 69);
}
